* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: system-ui;
  width: 100%;
  height: 100%;
}

:root {
  --animation-duration: 250ms;
  --first-time-animation-duration: 200ms;
}

@keyframes blur {
  0%,
  100% {
    filter: blur(0px);
  }
  25%,
  75% {
    filter: blur(5px);
  }
  50% {
    filter: blur(10px);
  }
}

.animate-blur {
  animation: blur ease-in-out;
  animation-duration: var(--animation-duration);
}

@keyframes first-time {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-first-time {
  animation: first-time ease-in-out;
  animation-duration: var(--first-time-animation-duration);
}
