:root {
  --animation-duration: 2500ms;
  --opening-closing-animation-duration: 100ms;
}

@keyframes blur {
  0%,
  100% {
    filter: blur(0px);
  }
  25%,
  75% {
    filter: blur(5px);
  }
  50% {
    filter: blur(10px);
  }
}

.animate-blur {
  animation: blur ease-in-out;
  animation-duration: var(--animation-duration);
}

@keyframes opening {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes closing {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.animate-opening {
  animation: opening ease-in-out;
  animation-duration: var(--opening-closing-animation-duration);
}

.animate-closing {
  animation: closing ease-in-out;
  animation-duration: var(--opening-closing-animation-duration);
}
